@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body {
	background-color: #020202;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: #f2f2f2;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;

	& .component-title {
		font-size: 2rem;
		font-weight: 700;
		margin: 10px 0 10px 0;
	}

	& .image-row {
		width: 60%;
		height: auto;
		display: flex;
		gap: 1rem;

		& img {
			width: 100%;
			max-width: 400px;
			height: auto;
			border-radius: 10px;
			filter: grayscale(100%);
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			border: 2px solid transparent;
			padding: 5px;

			&:hover {
				filter: grayscale(0%);
				transform: scale(1.05);
				border: 2px solid #f2f2f2;
			}
		}
	}
}
