@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	background: linear-gradient(to top left, #eaafc8, #654ea3);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.buttons-container {
	max-width: 800px;
	max-height: 900px;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.3);
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;

	& button {
		cursor: pointer;
	}

	& .square-button {
		width: 150px;
		height: 50px;
		padding: 10px 5px;
		border: none;
		background-color: #147ec5;
		color: white;
		transition: all 0.3s ease-in-out;

		&:hover {
			background-color: #0f5a8b;
		}
	}

	& .rounded-button {
		width: 150px;
		height: 50px;
		padding: 10px 5px;
		border: none;
		border-radius: 25px;
		background-color: #f3b50c;
		color: white;
		transition: all 0.3s ease-in-out;

		&:hover {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
		}
	}

	& .outline-button {
		display: flex;
		width: 150px;
		height: 50px;
		padding: 10px 5px;
		border: 2px solid #000;
		background-color: transparent;
		align-items: center;
		justify-content: center;
		gap: 5px;
		color: #000;
		transition: all 0.2s ease;
		cursor: pointer;

		&:hover {
			background-color: #000;
			color: white;

			& .l-1 {
				animation: wave 1.5s infinite;
				animation-delay: 0s;
			}
			& .l-2 {
				animation: wave 1.5s infinite;
				animation-delay: 0.07s;
			}
			& .l-3 {
				animation: wave 1.5s infinite;
				animation-delay: 0.14s;
			}
			& .l-4 {
				animation: wave 1.5s infinite;
				animation-delay: 0.21s;
			}
			& .l-5 {
				animation: wave 1.5s infinite;
				animation-delay: 0.28s;
			}

			& .l-6 {
				animation: wave 1.5s infinite;
				animation-delay: 0.35s;
			}
			& .l-7 {
				animation: wave 1.5s infinite;
				animation-delay: 0.42s;
			}
			& .l-8 {
				animation: wave 1.5s infinite;
				animation-delay: 0.49s;
			}
			& .l-9 {
				animation: wave 1.5s infinite;
				animation-delay: 0.56s;
			}
			& .l-10 {
				animation: wave 1.5s infinite;
				animation-delay: 0.63s;
			}
			& .l-11 {
				animation: wave 1.5s infinite;
				animation-delay: 0.7s;
			}
			& .l-12 {
				animation: wave 1.5s infinite;
				animation-delay: 0.77s;
			}
		}

		& .word {
			display: flex;
			font-weight: bold;
			font-size: 14px;
		}
	}

	& .gradient-button {
		width: 150px;
		height: 50px;
		padding: 10px 5px;
		border: none;
		border-radius: 10px;
		background: linear-gradient(45deg, #ff6a00, #ee0979);
		color: white;
		transition: animation 0.7s ease-in-out;

		&:hover {
			animation: rotateGradient 3s linear infinite;
			background-size: 200% 200%;
		}
	}

	& .shadow-button {
		width: 150px;
		height: 50px;
		padding: 10px 5px;
		border: none;
		background-color: #28a745;
		color: white;
		box-shadow: 10px 8px 6px rgba(0, 0, 0, 0.5);
		transition: box-shadow 0.3s ease-in-out;
		&:hover {
			box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
		}
	}

	& .icon-button {
		width: 150px;
		height: 50px;
		padding: 10px 5px;
		border: none;
		background-color: #6f42c1;
		color: white;
		display: flex;
		align-items: center;
		border-radius: 8px;
		justify-content: center;
		transition: background-color 0.3s ease-in-out;

		&:hover {
			background-color: #5936a2;
		}

		& .icon {
			font-size: 18px;
		}
	}

	& .super-button {
		font-size: 18px;
		color: #222222;
		font-family: inherit;
		font-weight: 800;
		cursor: pointer;
		position: relative;
		border: none;
		background: none;
		text-transform: uppercase;

		&:hover,
		&:focus {
			color: #222222;
		}

		/* Make the pseudo-element an inset border overlay that appears on hover */
		&:after {
			content: '';
			pointer-events: none;
			position: absolute;
			/* cover whole button area */
			inset: 0;
			box-sizing: border-box;
			padding: margin;
			border: 2px solid transparent;
			border-radius: inherit; /* follow the button's radius if any */
			transition: transform 220ms ease, border-color 220ms ease, opacity 220ms ease;
			transform: scale(0.98); /* slightly smaller to look like an outline */
			opacity: 0;
		}

		&:hover:after,
		&:focus:after {
			transform: scale(1);
			opacity: 1;
			border-color: #222222; /* visible border color on hover */
		}
	}
}

@keyframes wave {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
}

@keyframes rotateGradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes animateBorder {
	0% {
		&:after {
			border-color: #000;
		}
	}
	50% {
		border-color: #ff0000;
	}
	100% {
		border-color: #000;
	}
}
